@{
    ViewBag.Title = "Home Page";
}


<div style="height:4em;"></div>

<center>
    <div>
        <table style="width:40em;">
            <tr>
                <td>
                    <a href="/Employees/Index"><button style="width:15em;" type="button" class="btn btn-lg btn-primary">Employee Management</button></a>
                </td>
                <td>
                    <button style="width:15em;" type="button" class="btn btn-lg btn-primary">Add Club</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</center>